<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <div class="jumbotron"> 
    <h1>Top Collègues  </h1>
    <p>Les meilleurs collègues du moment <app-en-ligne></app-en-ligne> </p>

    <form class=form-horizontal>
      <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" id="pseudo" required #pseudo/>
      </div>
      <div class="form-group">
        <label for="image">URL Image</label>
        <input type="text" class="form-control" id="image" #imageUrl/>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="add(pseudo, imageUrl)" >Ajouter un nouveau collègue</button>
      </div>

      <ngb-alert id="ajoutFeedback" *ngIf="afficherAlert" [type]="'success'" (close)="closeAlert()">{{msg}}</ngb-alert>

    </form>
  </div>

  <div class="btn-group" role="group" style="margin:25px">
    <a class="btn btn-outline-primary" routerLink="/classique" routerLinkActive="active">Classique</a>
    <a class="btn btn-outline-primary" routerLink="/tableau" routerLinkActive="active">Tableau</a>
    <a class="btn btn-outline-primary" routerLink="/carrousel" routerLinkActive="active">Carrousel</a>
  </div>
  <app-filter></app-filter>

</div>

<app-votre-dernier-avis></app-votre-dernier-avis>



 <!-- {{collegues | json}}  -->

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-7" id=content>

        <router-outlet></router-outlet>

    </div>
    <div class="col-md-4">
        <app-historique-votes></app-historique-votes>
    </div>
</div>


