<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  <div class="jumbotron"> 
    <h1>Top Collègues</h1>
    <p>Les meilleurs collègues du moment</p>

    <form class=form-horizontal>
      <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" class="form-control" id="pseudo" required #pseudo/>
      </div>
      <div class="form-group">
        <label for="image">URL Image</label>
        <input type="text" class="form-control" id="image" #imageUrl/>
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="add(pseudo, imageUrl)" >Ajouter un nouveau collègue</button>
      </div>

      <ngb-alert id="ajoutFeedback" *ngIf="afficherAlert" [type]="'success'" (close)="closeAlert()">{{msg}}</ngb-alert>

    </form>
  </div>

  <nav>
    <!-- définition d'un lien basé sur les routes. -->
    <a routerLink="/classique">Classique</a>
    <a routerLink="/tableau">Tableau</a>
    <a routerLink="/carrousel">Carrousel</a>
  </nav>


</div>

<!-- {{collegues | json}} -->

<div class="album text-muted">
    <div class="container" id=content>

        <router-outlet></router-outlet>

    </div>
</div>


