<div class="row">
    
    <div class="card" style="width: 15rem; margin: 5px" *ngFor="let col of collegues | async | slice:0:limite | filterByPseudo:filtre ">
        <a href="detail/{{col.pseudo}}">
            <img class="card-img-top" src="{{col.image}}">        
        </a>
        
        <div class="card-body" style="text-align:center">
            <div class="card-title">{{col.pseudo | uppercase}}</div>
        
            <h5 id="score">{{col.score}}</h5>
        
            <app-likebuttons [collegue]="col"></app-likebuttons>
        
        </div>
    </div>

</div>
