<ngb-carousel>
  <ng-template ngbSlide *ngFor="let col of collegues | async | slice:0:limite | filterByPseudo:filtre ">
    <img src="{{col.image}}">
    <div class="carousel-caption">
      <div class="inner-caption">
        <h3>{{col.pseudo | uppercase}}</h3>
        <h5 [ngStyle]="{'color': col.score > 0 ? 'green' : (col.score == 0 ? 'gray' : 'red')}">{{col.score | score}}</h5>        <app-likebuttons [collegue]="col"></app-likebuttons>
      </div>
    </div>
  </ng-template>
</ngb-carousel>